---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Mozilla
ColumnLimit: '130'
CompactNamespaces: 'false'
FixNamespaceComments: 'false'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
Standard: Auto
TabWidth: '4'
PointerAlignment: Left
DerivePointerAlignment: false
...
